
<% @routines.each do |routine| %>
  <div class="routine row clearfix">
    <h2>
      <%= link_to routine.title, routine %><br>
      <small class="author">Submitted <%= time_ago_in_words(routine.created_at) %> by <%= routine.user.email %></small>
    </h2>
  </div>
<% end %>
